
# using Ecommerce Nutmeg version
Django==3.2.16

# tox>4.0.0 isn't yet compatible with many tox plugins, causing CI failures in almost all repos.
# Details can be found in this discussion: https://github.com/tox-dev/tox/discussions/1810
tox<4.0.0

# code-annotations>=1.1.0
